h1 {
    font-family: 'Inter', sans-serif;
}



.container {
    height: 80vh;
}

.container > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10pt;
    padding-left: 10pt;
}

.label {
    background-color: #2D3748;
    display: flex;
    height: 26px;
    width: 50px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
}

.checkbox {
    opacity: 0;
    position: absolute;
}



.label > .fa-sun {
    color: white;
}

.label > .fa-moon {
    color: white;
}

.label > .slider{
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    transition: transform 0.5s ease;
}

.checkbox:checked + .label > .slider{
    transform: translateX(22px);
}

.selectors {
    display:flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    justify-content: space-evenly;
    align-items:center;
    width:100%;
    height:100%;
    font-family: 'Inter', sans-serif;
}

.card {
    width: 500pt;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20pt;
    border-radius: 12pt;
    border-width: 1pt solid #E2E8F0;
    padding: 30pt;
}

.card > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15pt;
    padding: 10pt 0pt 0pt 10pt;
}

.card > .title > .title__content {
    color: #2D3748;
    font-weight: 600;
    font-size: 30pt;
}

.card > .title > .title__icon {
    color: #2D3748;
    font-weight: 600;
    font-size: 20pt;
}

.card > .content {
    font-size: 20pt;
    opacity: 0.7;
    min-height: 60pt;
    margin-bottom: 30pt;
    padding: 10pt;
    display: flex;
    align-items: center;
}

.card > .action {
    border-top: 2pt solid #E2E8F0;
    padding: 20pt 0pt 0pt 0pt;
    margin: 0pt 10pt 0pt 10pt;
    font-size: 20pt;
    opacity: 0.7;
}

a {
    color: #1976d2;
}

a:visited {
    color: #1976d2;
}

a:link {
    text-decoration: none;
}

/* Dark Theme Shenanigans */


    
    .card { background:  #2d3748; color: white; }
    .card > .title > .title__content { opacity: 0.87; color: white;}
    .card > .title > .title__icon {color: #319795}
    .content { opacity: 0.6; color: white; }
    a { color: #319795; }
    a:visited { color: #319795; }
    a:hover {color: #45d3d1}
    h1 { color: white}
    body { background: #1a202c}
  } 

