.container {
    height: 90vh;
    font-family: 'Inter', sans-serif;
}

/* Rules about the difficulty selector */

#game-container {
    display: none;
    height: 100%;
}

#game-container > .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 100%;
    width: 100%;
    display: none; /* Changes to flex in JS */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square-row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30pt;
}

.square {
    height: 100pt;
    width: 100pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-width: 1pt solid var(--border-color);
    background: var(--card-background-color);
    border-radius: 5pt;
}

.level-selector > .square:hover {
    background: #eff3f8;
    transform: scale(1.1);
    cursor: pointer;
}

.level-selector {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* Rules about the help/instructions screen */

#start-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.rule-card {
    max-width: 500pt;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20pt;
    border-radius: 12pt;
    border-width: 1pt solid #E2E8F0;
    padding: 30pt;
    animation: SlideIn 200ms linear;
    position: absolute;
    top: 20pt;
}

.close-rule-card {
    animation: SlideOut 200ms;
}

@keyframes SlideIn {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes SlideOut {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translateY(30px);
    }
  }


.rule-card > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15pt;
    padding: 10pt 0pt 0pt 10pt;
}

.rule-card > .title > .title__content {
    color: #2D3748;
    font-weight: 600;
    font-size: 20pt;
}

.rule-card > .title > .title__icon {
    color: #2D3748;
    font-weight: 600;
    font-size: 20pt;
    cursor: pointer;
    user-select: none;
}

.rule-card > .content {
    font-size: 15pt;
    opacity: 0.7;
    min-height: 60pt;
    padding: 10pt;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

b {
    margin-top: 20pt;
    margin-bottom: 5pt;
}

.mini-game {
    margin-top: 20pt;
    height: 150pt;
    width: 100%;
}

.mini-ion-line {
    height: 30%;
    display: flex;
    justify-content: center;
}

.mini-answers-line {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20pt;
}

.mini-ion {
    width: 50pt;
    height: 50pt;
    border-radius: 5pt;
    border: 1pt solid #bfc4ca;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15pt;
}

.title__title {
    font-size: 20pt;
    font-weight: 600;
}

.title__start-icons {
    font-size: 20pt;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75pt;
}

.title__end-icons {
    width: 75pt;
}

#instructions-icon {
    cursor: pointer;
    color: #2D3748;
}

a {
    color: #2D3748;
}

a:visited {
    color: #2D3748;
}

a:link {
    text-decoration: none;
}

:root {
    --background-color: white;
    --card-background-color: white;
    --title-color: #2D3748;
    --text-color: black;
    --link-color: #1976d2;
    --link-hover-color: #1976d2;
    --border-color: #E2E8F0;
    --transition-time: 0.3s;

}

html[color-theme = 'light']{
    --background-color: white;
    --card-background-color: white;
    --title-color: #2D3748;
    --text-color: black;
    --link-color: #1976d2;
    --link-hover-color: #1976d2;
    --border-color: #E2E8F0;
    --transition-time: 0.3s;
}

html[color-theme = 'dark']{
    --background-color: #1a202c;
    --card-background-color: #2D3748;
    --title-color: white;
    --text-color: white;
    --link-color: #319795;
    --link-hover-color: #45d3d1;
    --border-color: #E2E8F0;
    --transition-time: 0.3s;
}