body {
    background: var(--background-color);
    transition: all var(--transition-time) ease;
}
.container {
    height: 90vh;
    font-family: 'Inter', sans-serif;
}

/* Rules about the difficulty selector */

#game-container {
    display: none;
    height: 100%;
}

#game-container > .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 100%;
    width: 100%;
    display: none; /* Changes to flex in JS */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.square-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20pt;
}

.stars {
    color: var(--star-default-color);
    font-size: 20pt;
}

.star-correct {
    color: var(--star-correct-color);
    animation: scaling linear 0.3s 2 alternate;
}

.star-wrong {
    color: var(--star-wrong-color);
    animation: shake 0.42s cubic-bezier(.36,.07,.19,.97) both;
}

.square {
    height: 100pt;
    width: 100pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-width: 1pt solid var(--border-color);
    background: var(--card-background-color);
    transition: all var(--transition-time) ease;
    border-radius: 5pt;
    margin-top: 20pt;
    color: var(--text-color);
}


.firstIonSelected {
    background: var(--ion1-color) !important;
}

.orange {
    background: var(--ion2-color) !important;
}

.purple {
    background: var(--ion3-color) !important;
}

.wrong-guess {
    background: var(--wrong-ion-color) !important;
    animation: shake 0.42s cubic-bezier(.36,.07,.19,.97) both;
}

.correct-guess {
    animation: scaling linear 0.12s 2 alternate;
}

@keyframes scaling {
From {
    transform: scale(1.0);
}
To {
    transform: scale(1.2);
}
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

#next-button {
    width: 90%;
    height: 50pt;
    font-size: large;
    background-color: var(--card-background-color);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5pt;
    border-width: 0pt;
    cursor: pointer;
}

#next-button:hover {
    background-color: var(--square-hover-color);
}

.ion-bottom-row {
    cursor: pointer;
}


.level-selector > .square:hover {
    background: var(--square-hover-color);
    transform: scale(1.1);
    cursor: pointer;
}

.level-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    color: var(--text-color);
    transition: all var(--transition-time) ease;
}

/* Rules about the help/instructions screen */

#start-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.rule-card {
    max-width: 500pt;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20pt 20pt 0pt 20pt;
    border-radius: 12pt;
    border-width: 1pt solid #E2E8F0;
    padding: 30pt;
    animation: SlideIn 200ms linear;
    position: absolute;
    color: var(--text-color);
}

.close-rule-card {
    animation: SlideOut 200ms;
}

@keyframes SlideIn {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes SlideOut {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translateY(30px);
    }
  }


.rule-card{
    background-color: var(--card-background-color);
}

.rule-card > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15pt;
    padding: 10pt 0pt 0pt 10pt;
}

.rule-card > .title > .title__content {
    color: var(--title-color);
    font-weight: 600;
    font-size: 20pt;
}

.rule-card > .title > .title__icon {
    color: var(--title-color);
    font-weight: 600;
    font-size: 20pt;
    cursor: pointer;
    user-select: none;
}

.rule-card > .content {
    font-size: 15pt;
    opacity: 0.7;
    min-height: 60pt;
    padding: 10pt;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

b {
    margin-top: 20pt;
    margin-bottom: 5pt;
}

.mini-game {
    margin-top: 20pt;
    height: 150pt;
    width: 100%;
}

.mini-ion-line {
    height: 30%;
    display: flex;
    justify-content: center;
}

.mini-answers-line {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20pt;
}

.mini-ion {
    width: 50pt;
    height: 50pt;
    border-radius: 5pt;
    border: 1pt solid #bfc4ca;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15pt;
}

.title__title {
    font-size: 20pt;
    font-weight: 600;
    color: var(--text-color);
    transition: all var(--transition-time) ease;
}

.title__start-icons {
    font-size: 20pt;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75pt;
}
.title__theme-swapper {
    padding-left: 30pt;
    padding-right: 10pt; 
}

.label {
    background-color: #2D3748;
    display: flex;
    height: 26px;
    width: 50px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
}

.checkbox {
    opacity: 0;
    position: absolute;
}



.label > .fa-sun {
    color: white;
}

.label > .fa-moon {
    color: white;
}

.label > .slider{
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    transition: transform var(--transition-time) ease;
}

.checkbox:checked + .label > .slider{
    transform: translateX(22px);
}

#instructions-icon {
    cursor: pointer;
    color: var(--link-color);
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color);
}

a:link {
    text-decoration: none;
}

:root {
    --background-color: white;
    --card-background-color: white;
    --title-color: #2D3748;
    --text-color: black;
    --link-color: #1976d2;
    --link-hover-color: #1976d2;
    --border-color: #E2E8F0;
    --transition-time: 0.3s;
    --button-color: #a5d6a7;
    --ion1-color: #80d6ff;
    --ion2-color: #ffb74d;
    --ion3-color: #ba68c8;
    --wrong-ion-color: #f44336;
    --star-correct-color: var(--text-color);
    --star-wrong-color: var(--wrong-ion-color);
    --star-default-color: #efefef;
}

html[color-theme = 'light']{
    --background-color: white;
    --card-background-color: white;
    --square-hover-color: #eff3f8;
    --title-color: #2D3748;
    --text-color: black;
    --link-color: #1976d2;
    --link-hover-color: #1976d2;
    --border-color: #E2E8F0;
    --transition-time: 0.3s;
    --ion1-color: #80d6ff;
    --ion2-color: #ffb74d;
    --ion3-color: #ba68c8;
    --wrong-ion-color: #f44336;
    --star-correct-color: var(--text-color);
    --star-wrong-color: var(--wrong-ion-color);
    --star-default-color: #efefef;
}

html[color-theme = 'dark']{
    --background-color: #1a202c;
    --card-background-color: #425069;
    --square-hover-color: #687ca0;
    --title-color: white;
    --text-color: white;
    --link-color: #319795;
    --link-hover-color: #45d3d1;
    --border-color: #E2E8F0;
    --transition-time: 0.3s;
    --ion1-color: #0077c2;
    --ion2-color: #ffb74d;
    --ion3-color: #ba68c8;
    --wrong-ion-color: #f44336;
    --star-correct-color: var(--text-color);
    --star-wrong-color: var(--wrong-ion-color);
    --star-default-color: #494949;
}

/* Responsive layout */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .rule-card {
        box-shadow: 1pt var(--background-color);
        border-width: 1pt solid var(--background-color);
        max-width: 300pt;
        padding: 0pt;
        top: 10pt;
    }

    .rule-card > .title {
        margin-bottom: 10pt;
    }
    
    .rule-card > .title > .title__content {
        font-weight: 600;
        font-size: 15pt;
    }
    
    .rule-card > .title > .title__icon {
        font-weight: 600;
        font-size: 12pt;
    }
    
    .rule-card > .content {
        font-size: 14pt;
        min-height: 60pt;
        padding: 10pt;
    }

    .title__title {
        font-size: 15pt;
    }

    .square {
        font-size: 13pt;
    }

 }